﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="GPGSOLASPNET.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - Order Booking Online</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:BundleReference runat="server" Path="~/Content/css" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/Images/favicon-32x32.png">
    

</head>

<body>
   
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <%-- <asp:ScriptReference Name="dataTables.responsive.min.js" Assembly="System.Web" Path="~/Scripts/WebForms/dataTables.responsive.min.js" />--%>
                <asp:ScriptReference Name="WebFormsBundle" />

            </Scripts>
        </asp:ScriptManager>
        <div class="header" id="logoheader" runat="server">
            <div class="header-logo">

               <%-- <img src="Images/logo.jpg" class="img-responsive" />
                --%>


            </div>
        </div>
         <script>
             $(document).ready(function () {
                 $('[data-toggle="popover"]').popover({ title: "Header", content: "Blabla", animation: true, placement: "auto" });
               
             });
         </script>
        <div class="navbar navbar-inverse " id="Navigation" runat="server">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                       <%--<a class="navbar-brand" runat="server" href="Contact"></a>--%>
                           <img src="Images/PRASYST_Logo.png" class="img-responsive" style="height:100%" />
                   
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                         <li><a runat="server" href="Contact"><span class="glyphicon glyphicon-home"></span></a></li>
                        <li><a runat="server" href="OrderBooking">Order Booking</a></li>
                        <li><a runat="server" href="newCatalogue">Catalogue</a></li>
                       <%-- <li><a runat="server" href="OutstandingParty">Outstanding</a></li>--%>
                        <li><a runat="server" href="Outstanding">Outstanding</a></li>
                        <li><a runat="server" href="order_history">Order History</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" data-toggle="popover" data-placement="left" data-trigger="hover" title="User Details" data-content="<%=Common.SessionManager.g_strCompanyName%>">
                            <span class="glyphicon glyphicon-user"></span>&nbsp;<span><%=Common.SessionManager.g_strUsername%></span></a>
                          </li>
                        <li><a href="Index">LogOut</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
             <asp:PlaceHolder runat="server" ID="ErrorMessage" Visible="true">
                        <p class="text-danger">
                            <asp:Literal runat="server" ID="FailureText"  />
                        </p>
                    </asp:PlaceHolder>
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <div class="footer">
                    <br />
                    About me         
        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="http://www.Prathamglobal.com"
            Target="_blank" Style="text-decoration: none"> Pratham Software </asp:HyperLink>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                 
                </div>

                <p>&copy; <%: DateTime.Now.Year %> - Pratham Software</p>
            </footer>
        </div>

    </form>

</body>
</html>
