﻿body {
    padding-top: 5px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
/*    padding-top: 70px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.container {
    padding-bottom:10px
}

.login {
    width:70%
}

td, th {
    padding: 5px;
    text-align: center;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}

.div-withBottomBorder {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    border-bottom-color: #337ab7
}

.navbar-inverse .navbar-nav > li > a {
    color: antiquewhite;
    line-height: 40px;
}


/* MASTER ERRORS */
.messageBox {
    background-color: #F4F4F4;
    background-position: 7px 5px;
    background-repeat: no-repeat;
    color: #333;
    font-family: Tahoma;
    font-size: 11px;
    margin: 5px 0;
    padding: 8px 8px 8px 30px;
}

.messageBoxError {
    background-color: #FFECEC;
    background-image: url(images/error-message.gif);
}

.messageBoxSuccess {
    background-image: url(images/success-message.gif);
}

.navbar-inverse {
    background-color: #337ab7;
    border-color: #337ab7;
}
.dashboard-main {
    border: solid;
    border-width: thin;
    height: 150px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
}
.dashboard-logo {
  
    background-image: url('../Images/Dashboard_logo.png');
    width: 100%;
    height: 100px;
    margin: 0 2px 0 2px;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
}
.dashboard-text {
    text-decoration: solid;
    font-weight: 600;
    font-size: medium;
    color:gray
}

/* Popover */
.popover {
    border: 2px;
    width:300px
}
/* Popover Header */
.popover-title {
    background-color: White;
    color: black;
    font-size: medium;
    text-align: center;
}
/* Popover Body */
.popover-content {
    background-color:blanchedalmond;
    color: black;
    font-size: small;
    padding: 5px;
}
/* Popover Arrow */
.arrow {
    border-right-color: red;
    /*!important;*/
}
a.RightBorder {
    border-right-style: groove; padding-right: inherit;
}
.SumoSelect .select-all {
    height:30px
}
th.dpass, td.dpass {
    display: none;
}

.processedfloat {
    position: fixed;
    left: 45%;
    bottom: 40px;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    background-color: lightsteelblue;
    border-radius: 20px;
    height: 60px;
    width: 150px;
    padding: 13px;
}
.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255,255,255,.5) url('images/Glowing ring.gif') center no-repeat;
}
/* Turn off scrollbar when body element has the loading class */
body.loading {
    overflow: hidden;
}
    /* Make spinner image visible when body element has the loading class */
    body.loading .overlay {
        display: block;
    }
@media screen and (min-width: 0px) and (max-width: 720px) {
    .mobile-hide {
        display: none;
    }

    .login {
        width: 100%
    }
}